.bt-custom-shape {
    background-color: #ffd152;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 3px grey;
}

.bt-custom-shape-nav{
    background-color: #ffd152;
    border-radius: 12px;
    border: 2px solid black;
}

.bt-custom-shape-nav:hover{
    background-color: #9AD9F8;
    box-shadow: 4px 4px 2px grey;
}

.bt-custom-shape:hover{
    background-color: #9AD9F8;
}

.for-a-special{
    color: black;
    display: block;
    height: 100%;
    font-family: 'Neucha', cursive;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 115%;
}

.for-a-nav{
    color: black;
    display: block;
    height: 100%;
    font-family: 'Neucha', cursive;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 120%;
}

.for-a-special:hover{
    color: black;
}

.for-a-nav{
    color: black;
    font-size: 125%;
    font-family: 'Neucha', cursive;
    font-weight: 900;
    padding: 5px;
}

.for-text{
    color: black;
    font-size: 110%;
    font-family: 'Neucha', cursive;
}